@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    box-sizing: border-box;
    margin: 0px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 17px;
}
